{% extends 'base.html.twig' %}

{% block title %}About me{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="example-wrapper">
            <h1>Hello my name is {{ name }}! ✅</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid at consequuntur distinctio ex
                excepturi, facere, incidunt ipsam laborum laudantium minima molestiae nam non sed tempora temporibus ut
                voluptate voluptatum.</p>
        </div>
    </div>
{% endblock %}